<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link  rel="stylesheet" href="../assets/css/burger_style.css" type="text/css" />
		<title>DumBurger!</title>
		
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
		<script src="../assets/js/burgers.js" ></script>
	</body>
</html>